{% load static %}
<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Public Private Data</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/sticky-footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
</head>

<body class="d-flex flex-column h-100"></body>>
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Jennifer Kang</a>
  </nav>
</header>


<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Public Private Data: Lee County, Alabama</h1>
    
    <p class="lead"><strong>Search Property and Vehicle Records Using Lee County API endpoints</strong></p>
    <p>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#renewalModal">AL Registration Renewal Months
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
      <circle cx="8" cy="4.5" r="1"/>
    </svg>
      </button>

      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#caveatsModal">Caveats
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
      <circle cx="8" cy="4.5" r="1"/>
      </svg>
      </button>
    </p>
    <!-- {% for item in vehicles %}

        <p>{{ item.record }}</p>
    
    {% endfor %} -->
   
    <div id="root"></div>

    
  </div>

</main>

<!-- Modal -->
<div class="modal fade" id="renewalModal" tabindex="-1" role="dialog" aria-labelledby="renewalModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="renewalModalLabel">Registration Renewal Months</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lee County API endpoints only return vehicle information in the month in which the registration is up for renewal according to the following table:</p>
        <table class="table table-striped">
          <tbody>
            <thead class="thead-dark">
              <tr>
                <th>Renewal Month</th>
                <th>Last Name Begins With</th>
              </tr>
            </thead>
            <tr class="even">
              <td>January</td>
              <td>A, D</td>
            </tr>
            <tr class="alt odd">
              <td>February</td>
              <td>B</td>
            </tr>
            <tr class="even">
              <td>March</td>
              <td>C, E</td>
            </tr>
            <tr class="alt odd">
              <td>April</td>
              <td>F, G, N</td>
            </tr>
            <tr class="even">
              <td>May</td>
              <td>H, O</td>
            </tr>
            <tr class="alt odd">
              <td>June</td>
              <td>M, I</td>
            </tr>
            <tr class="even">
              <td>July</td>
              <td>P, L</td>
            </tr>
            <tr class="alt odd">
              <td>August</td>
              <td>J, K, R</td>
            </tr>
            <tr class="even">
              <td>September</td>
              <td>Q, S, T</td>
            </tr>
            <tr class="alt odd">
              <td>October</td>
              <td>U, V, W, X, Y, Z</td>
            </tr>
            <tr class="even">
              <td>November</td>
              <td rowspan="2">Commercial and Fleet Vehicles (Except IRP), <br>Manufactured Homes, National Guard</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="caveatsModal" tabindex="-1" role="dialog" aria-labelledby="caveatsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="caveatsModalLabel">Caveats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>Caveats with strategy to overcome each:</p>
       <ol>
           <li>Lee County vehicle records are returned only in renewal month.<br>
            <em>Strategy to overcome</em>: Set up server cron job to run letter combinations that cover all possible combinations based on month.
           </li>
           <li>The application currently only returns the first 20 results from the Lee County API before cross-site protection is applied.<br>
          <em>Strategy to overcome</em>: Add routine (cron) task to pull records by searching last name alphabetically.</li>
       </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Jennifer Kang</span>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="{% static 'js/react-script.js' %}" type="text/babel"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>